body {
    margin: 0;
    padding: 0;
    background: #464444;
}

.navbar {
    display: flex;
    background: #E3E8FF;
    padding: 0;
    width: 100%;
    position: fixed;
    z-index: 1;
}

.navbar img {
    padding-left: 6%;
}

.nav-item {
    display: flex;
    flex: auto;
    justify-content: right;
    list-style: none;
    padding-right: 5%;
}

li {
    font-family: 'Ubuntu', sans-serif;
    font-size: 18px;
    font-weight: 400;
    padding: 1rem;
}

.navbar a {
    color: #000000;
    text-decoration: none;
}

h1 {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    font-size: 48px;
}

h2 {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    font-size: 38px;
}

h3 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 28px;
    font-weight: 500;
}

p1 {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 22px;
}

h4,
p2 {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 18px;
}

p3 {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
}

button {
    background: #6002D4;
    border: none;
    color: #F1E9E9;
    border-radius: 20px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    font-size: 16px;
    padding: 10px 44px;
    margin: 10% 3%;
}

.container-1 {
    display: flex;
    background: #E3E8FF;
    color: #000000;
    padding: 10% 6% 5%;
}

.container-1 .image-part,
.text-part {
    flex: 50%;
}

.container-1::after {
    content: 'PORTFOLIO';
    color: #D2D5E8;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    transform: rotate(90deg);
    block-size: 116px;
    width: 5%;
    margin: 0;
}

.container-1 h1 {
    font-weight: 500;
}

.container-1 span {
    color: #6002D4;
    margin: 0;
}

.container-1 .reach-out {
    display: flex;
}

.container-1 .contact-details,
.follow-details {
    border-left: 1px solid #000000;
    padding: 0 5%;
}

.container-1 .reach-out h4 {
    margin: 1% 0;
}

.container-1 .reach-out p3 {
    margin: 1% 0;
    margin-left: 4%;
}

.container-1 a {
    text-decoration: none;
    color: #000000;
}

.container-2 {
    color: #F1E9E9;
    padding: 5% 5% 5% 0;
}

.container-2 .inner-part::after {
    content: 'ABOUT';
    color: #423E3E;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    transform: rotate(90deg);
    block-size: 116px;
    width: 5%;
    align-self: self-start;
}

.container-2 .inner-part {
    display: flex;
    flex: auto;
    align-items: center;
    justify-items: center;
    justify-content: space-around;
    padding: 4% 0;
}

.container-2 h1 {
    padding-left: 6%;
}

.container-2 .text-part {
    max-width: 44%;
    height: auto;
}

.container-2 .text-part button {
    margin: 10%;
}

.container-2 .text-part img {
    vertical-align: text-top;
}

.container-3 {
    color: #F1E9E9;
    padding: 5% 6%;
    padding: 5% 5%;
}

.container-3 .inner-part::after {
    content: 'EXPERIENCE';
    color: #423E3E;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    transform: rotate(90deg);
    block-size: 116px;
    width: 5%;
    margin: 0 2%;
}

.container-3 .inner-part {
    display: flex;
    flex: auto;
    justify-content: space-around;
}

.container-3 .card {
    flex: 50%;
    text-align: center;
    padding: 6% 4%;
}

.container-3 .card span {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    font-size: 96px;
}

.container-4 {
    color: #F1E9E9;
    padding: 5% 6%;
}

.container-4 .inner-part {
    display: flex;
    flex: auto;
    justify-items: center;
}

.container-4 .location-details {
    border-right: 1px solid #000000;
    padding-right: 4%;
}

.container-4 .location-details img {
    margin: 5%;
}

.container-4 .location-details li {
    padding: 0.75rem;
}

.container-4 .project-details {
    flex: 1%;
    padding-left: 4%;
}

.container-4 .project-details div {
    margin-left: 4%;
}

.container-4 .project-details .first,
.container-4 .project-details .second,
.container-4 .project-details .third {
    margin: 5% 0 10%;
}

.container-5 {
    color: #F1E9E9;
    padding: 5% 6% 10%;
}

.container-5 .inner-part {
    display: flex;
}

.container-5 .inner-part::after {
    content: 'SKILLS&TOOLS';
    color: #423E3E;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    transform: rotate(90deg);
    block-size: 116px;
    width: 5%;
    margin: 0 2%;
}

.container-5 .cards {
    display: block;
    flex: 100%;
}

.container-5 .row-1,
.container-5 .row-2 {
    display: flex;
    justify-content: space-around;
}

.container-5 .cards-inner {
    text-align: center;
    margin-top: 3%;
    padding: 5% 4%;
}

.container-6 {
    color: #F1E9E9;
    padding: 5% 6%;
}

.container-6 .cards {
    display: flex;
    align-items: center;
    margin: 5% 15%;
}

.container-6 .inner-part {
    display: flex;
}

.container-6 .inner-part::after {
    content: 'EDUCATION';
    color: #423E3E;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    transform: rotate(90deg);
    block-size: 116px;
    width: 5%;
    margin: 0 2%;
}

.container-6 .inner-part .content-block {
    flex: 90%;
}

.container-6 .cards .card-details {
    display: flex;
}

.container-6 .card-details img {
    height: 152px;
}

.container-6 .card-details div {
    background: #6002D4;
    border-radius: 10px;
    padding: 5%;
    text-align: center;
    width: 550px;
    height: 70px;
}

footer {
    color: #F1E9E9;
    padding: 5% 0;
}

footer h1 {
    margin-left: 6%;
}

footer .contents {
    display: flex;
    justify-content: space-evenly;
    margin: 8% 0;
}

footer .card-1,
footer .card-2,
footer .card-3 {
    position: relative;
}

footer .card-1 .text,
footer .card-2 .text,
footer .card-3 .text {
    position: absolute;
    background: #D9D9D9;
    opacity: 0.6;
    border-radius: 15px;
    padding: 0 3%;
    bottom: 1%;
}

footer .card-1 .text p1 {
    background: linear-gradient(0deg, rgba(135, 39, 73, 0.2), rgba(135, 39, 73, 0.2)),
        linear-gradient(0deg, rgba(210, 69, 129, 0.81), rgba(210, 69, 129, 0.81));
    margin: 0;
}

footer .card-1 .text p2 {
    color: #000030;
}

footer .card-2 .text p1 {
    background: linear-gradient(0deg, rgba(135, 39, 73, 0.2), rgba(135, 39, 73, 0.2)),
        linear-gradient(0deg, #F9F4F4, #F9F4F4);
    margin: 0;
}

footer .card-2 .text p2 {
    color: #000030;
}

footer .card-3 .text p1 {
    color: #000030;
    margin: 0;
}

footer .card-3 .text p2 {
    color: #000030;
}