/*  Font families used: 
    1. font-family: 'Alfa Slab One', cursive;
    2. font-family: 'Inter', sans-serif;
    3. font-family: 'Ubuntu', sans-serif; */

body {
    background: #232323;
    color: #F9F4F4;
    margin: 0;
}

/* Navbar */
.navbar {
    display: flex;
    background: #F1E9E9;
    width: 100%;
    position: fixed;
    z-index: 100;
}

.navbar img {
    margin-left: 8%;
}

.nav-item {
    display: flex;
    flex: auto;
    justify-content: right;
    list-style: none;
    padding: 0;
    margin-right: 4%;
}

.navbar li {
    font-family: 'Ubuntu', sans-serif;
    color: #000000 !important;
    font-size: 16px;
    font-weight: 400;
    padding: 1.5%;
}

.navbar a {
    color: #000000;
    text-decoration: none;
}

/* h and p tag properties */
h1 {
    font-family: 'Alfa Slab One', cursive;
    font-weight: 400;
    font-size: 48px;
}

h2 {
    font-family: 'Alfa Slab One', cursive;
    font-weight: 400;
    font-size: 40px;
}

h3 {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    font-size: 28px;
}

h4 {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    font-size: 20px;
}

p {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    font-size: 18px;
}

p1 {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    font-size: 16px;
}

p2 {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    font-size: 14px;
}

/* container-1: Portfolio first Container */
.container-1 {
    display: flex;
    background: #F1E9E9 !important;
    color: #000000;
    justify-items: center;
    padding: 10% 4% 2% 2%;
}

.container-1::before {
    content: 'PORTFOLIO';
    color: #FFFFFF !important;
    font-family: 'Inter', sans-serif;
    font-weight: 900;
    font-size: 96px;
    transform: rotate(270deg);
    block-size: 116px;
    width: 5%;
    margin: 2% 2%;
    align-self: end;
}

.container-1 .text-part {
    margin-top: 2%;
    margin-left: -3%;
    z-index: 1;
}

.container-1 span {
    color: #FF0000 !important;
}

.container-1 .info-content {
    width: 55%;
    height: auto;
    border-left: 1px solid #000000;
    padding: 2%;
    margin-bottom: 5%;
}

.container-1 .button-block {
    display: flex;
}

.container-1 .button-content-1 {
    position: relative;
    width: 232%;
    margin-left: 10%;
}

.container-1 .button-content-1 .inner-text {
    position: absolute;
    display: flex;
    color: #000000 !important;
    top: 0;
    left: 18%;
}

.container-1 .button-content-2 {
    position: relative;
    width: 394%;
    margin-left: 280%;
}

.container-1 .button-content-2 .inner-text {
    position: absolute;
    display: flex;
    color: #000000 !important;
    top: 0;
    left: 10%;
}

.container-1 .reach-out {
    display: flex;
}

.container-1 .reach-out a {
    text-decoration: none;
    color: #000000;
}

.container-1 .reach-out p1 {
    font-size: 18px;
}

.container-1 .contact-details {
    flex: auto;
    padding: 3% 2% 5% 0;
}

.container-1 .follow-details {
    flex: auto;
    padding: 3% 0 5% 2%;
    align-items: center;
    justify-items: center;
}

.container-1 .contact-block,
.container-1 .follow-me-block {
    border-left: 1px solid #000000;
    padding: 1%;
}

.container-1 .reach-out h4,
.container-1 .reach-out .inner-details {
    padding-left: 5%;
}

.container-1 .reach-out .inner-details img {
    padding-right: 1%;
}

.container-1 .image-part {
    flex: 60%;
}

/* container-2: About */
.container-2 {
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: space-around;
    padding: 10% 4% 5%;
}

.container-2::before {
    content: 'ABOUT';
    color: #3E3D3D !important;
    font-family: 'Inter', sans-serif;
    font-weight: 900;
    font-size: 96px;
    transform: rotate(270deg);
    block-size: 116px;
    width: 5%;
    align-self: self-end;
}

.container-2 .image-part {
    z-index: 1;
    flex: 50%;
}

.container-2 .text-part {
    flex: 50%;
}

/* container-3: Experience*/
.container-3 {
    padding: 10% 5% 5%;
}

.container-3 h2 {
    padding-left: 2%;
}

.container-3 .inner-details {
    display: flex;
    flex: auto;
    justify-content: space-around;
}

.container-3 .card {
    text-align: center;
    padding: 5% 9%;
}

.container-3 .card span {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    font-size: 96px;
}

/* container-4: Project summary and Location details */
.container-4 {
    padding: 1% 5% 5%;
    z-index: 1;
}

.container-4 .inner-details {
    display: flex;
}

.container-4 .inner-details::before {
    content: 'EXPERIENCE';
    color: #3E3D3D !important;
    font-family: 'Inter', sans-serif;
    font-weight: 900;
    font-size: 96px;
    transform: rotate(270deg);
    block-size: 116px;
    width: 5%;
    align-self: flex-start;
    z-index: -1;
}

.container-4 h2 {
    padding-left: 2%;
}

.container-4 .inner-details h3 {
    font-family: 'Alfa Slab One', cursive;
    font-size: 30px;
    font-weight: 400;
    margin: 5% 0;
}

.container-4 .project-details {
    flex: 50%;
    padding: 3% 8% 5% 0;
    margin-left: -3%;
}

.container-4 .project-details p {
    margin-left: 5%;
}

.container-4 .location-details {
    border-left: 1px solid #E3DADA;
    flex: 4%;
    padding-left: 5%;
}

.container-4 .location-details .inner-part {
    text-align: center;
    margin-bottom: 20%;
}

.container-4 .location-details img {
    padding: 5% 0;
}

.container-4 .location-details ul {
    font-family: 'Ubuntu', sans-serif;
    font-size: 18px;
    font-weight: 400;
    margin: 10% 0;
    padding: 0 0 12% 6%;
}

.container-4 .location-details li {
    margin: 1rem 0;
}

/* container-5: Skills & Tools */
.container-5 {
    padding: 5% 5%;
}

.container-5 .inner-details {
    display: flex;
}

.container-5 .inner-details::before {
    content: 'SKILLS_&_TOOLS';
    color: #3E3D3D !important;
    font-family: 'Inter', sans-serif;
    font-weight: 900;
    font-size: 96px;
    transform: rotate(270deg);
    block-size: 116px;
    width: 5%;
    align-self: flex-end;
    z-index: -1;
}

.container-5 .inner-block {
    margin-left: 20%;
}

.container-5 .row-1,
.container-5 .row-2 {
    display: flex;
    text-align: center;
    justify-content: space-evenly;
}

.container-5 .cards {
    padding: 5% 5%;
    margin: 8% 5%;
}

/* Container-6: Services */
.container-6 {
    padding: 5% 5%;
}

.container-6 .row-1 {
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-right: 15%;
}

.container-6 .row-2 {
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-left: 15%;
}

.container-6 .cards {
    padding: 5% 5%;
}

/* Container-7: Education */
.container-7 {
    background: #F9F4F4;
    padding: 8% 5%;
}

.container-7 h1 {
    color: #000000;
    z-index: 1 !important;
}

.container-7 .inner-details {
    display: flex;
    margin: 5% 0;
}

.container-7 .inner-details::before {
    content: 'EDUCATION';
    color: #FFFFFF !important;
    font-family: 'Inter', sans-serif;
    font-weight: 900;
    font-size: 96px;
    transform: rotate(270deg);
    block-size: 116px;
    width: 5%;
    align-self: center;
    margin-top: 15%;
}

.container-7 .content-block {
    z-index: 1;
    margin-left: -3%;
}

.container-7 .row-1,
.container-7 .row-2,
.container-7 .row-3 {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.container-7 .cards {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 50%;
    margin: 2%;
}

.container-7 img {
    background: rgb(217, 217, 217);
    border-radius: 10px;
    padding: 2% 5%;
    height: 145px;
}

.container-7 .text {
    background: #232323;
    text-align: center;
    border-radius: 10px;
    padding: 2%;
    height: 145px;
}

/* Footer: Contact-details */
footer {
    padding: 5% 0 2%;
}

footer h2 {
    margin-left: 6%;
}

footer .contents {
    display: flex;
    justify-content: space-evenly;
    margin: 8% 0;
}

footer .card-1,
footer .card-2,
footer .card-3 {
    position: relative;
}

footer .card-1 .text,
footer .card-2 .text,
footer .card-3 .text {
    position: absolute;
    background: #D9D9D9;
    opacity: 0.6;
    border-radius: 15px;
    padding: 0 3%;
    bottom: 1%;
}

footer .card-1 .text p {
    background: linear-gradient(0deg, rgba(135, 39, 73, 0.2), rgba(135, 39, 73, 0.2)),
        linear-gradient(0deg, rgba(210, 69, 129, 0.81), rgba(210, 69, 129, 0.81));
    margin: 0;
}

footer .card-1 .text p1 {
    color: #000030;
}

footer .card-2 .text p {
    background: linear-gradient(0deg, rgba(135, 39, 73, 0.2), rgba(135, 39, 73, 0.2)),
        linear-gradient(0deg, #F9F4F4, #F9F4F4);
    margin: 0;
}

footer .card-2 .text p1 {
    color: #000030;
}

footer .card-3 .text p {
    color: #000030;
    margin: 0;
}

footer .card-3 .text p1 {
    color: #000030;
}

footer p {
    text-align: center;
}