/* font-family: 'Inter', sans-serif;
font-family: 'Mochiy Pop P One', sans-serif;
font-family: 'MuseoModerno', cursive;
font-family: 'Ubuntu', sans-serif; */

body {
    background: #02180E;
    margin: 0;
}

.white-boder {
    position: fixed;
    border: 0px solid;
    padding-left: 30%;
    z-index: -1;
    background: #1F2326;
}

.navbar {
    position: fixed;
    background: #084729;
    border-radius: 0px 0px 0px 50px;
    width: 78%;
    margin-left: 20%;
    padding: 1%;
    z-index: 1;
}

.navbar ul {
    list-style: none;
    display: flex;
    flex: 100%;
    color: #FFFFFF;
    justify-content: space-around;
    padding: 0%;
}

.navbar a {
    color: #FFFFFF;
    text-decoration: none;
}

h1 {
    font-family: 'Mochiy Pop P One', sans-serif;
    font-size: 48px;
}

h2 {
    font-family: 'Mochiy Pop P One', sans-serif;
    font-size: 32px;
}

.container-1 {
    padding: 5% 0;
}

.container-1 img {
    max-width: 88%;
}
.container-2 {
    display: flex;
    padding: 5% 5% 5% 10%;
    align-items: center;
}

.container-2 .left-side {
    transform: rotate(270deg);
    color: #BDC88D;
    margin-left: 4%;
}

.container-2 .right-side p {
    background: #D9D9D9;
    border-radius: 0px 0px 198px 0px;
    font-family: 'MuseoModerno', cursive;
    font-size: 24px;
    width: 90%;
    padding-left: 2%;
    margin-left: -8%;
}

.container-3 {
    display: flex;
    padding: 5% 5%;
    align-items: center;
}

.container-3 .left-side {
    transform: rotate(270deg);
    color: #BDC88D;
    margin-left: 15%;
}

.container-3 ul {
    list-style: none;
    color: #FFFFFF;
    font-family: 'MuseoModerno', cursive;
    font-size: 18px;
    padding-left: 20%;
}

.container-4 {
    padding: 5% 9% 5% 31%;
    color: #BDC88D;
}

.container-4 h2 {
    text-align: right;
}

.container-4 img {
    padding: 1%;
}

.container-5 {
    display: flex;
    color: #BDC88D;
    padding: 5% 5% 5% 9%;
    align-items: center;
}

.container-5 .left-side {
    transform: rotate(270deg);   
    align-self: center;
    margin-left: 4%;
}

.container-5 h2 {
    text-align: right;
}

.container-5 .right-side {
    margin: -4%;
}
.container-5 .right-side .logos{
    background: #D9D9D9;
    border-radius: 0px 0px 166px 0px;
    
}

.container-5 .right-side .logos img {
    padding: 5%;
}

.container-6 img {
    margin-left: 34%;
    padding-bottom: 5%;
}