#navbar{
    position: absolute;
    width: 1440px;
    height: 110px;
    left: -4px;
    top: 0px;
    
    background: #015317;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    
}
.logo{
    position: absolute;
    width: 131px;
    height: 110px;

}
.menu{
    position: absolute;
    width: 1341px;
    height: 110px;
    left: 96px;
    top: 0px;
}
.menu-items{
    position: absolute;
height: 29px;
left: 420px;
top: 24px;
font-family: 'Ubuntu';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 23px;
display: flex;
align-items: center;
color: #FFFFFF;
}
a:link {
    text-decoration: none;
    color: white;
}

a:visited {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: none;
    color: white;
}

a:active {
    text-decoration: none;
    color: white;
}
.item{
    margin-left: 64px;
    list-style: none;
}
#header{
    position: absolute;
    width: 1440px;
height: 500px;
left: -4px;
margin-top: 110px;
background:white;
}
.UI{
position: absolute;
width: 162px;
height: 32px;
left: 153px;
top: 150px;

font-family: 'Ubuntu';
font-style: normal;
font-weight: 500;
font-size: 28px;
line-height: 32px;

color: #000000;
}
.name{
position: absolute;
width: 371px;
height: 128px;
left: 150px;
top: 200px;

font-family: 'Ubuntu';
font-style: normal;
font-weight: 500;
font-size: 56px;
line-height: 64px;

color: #000000;

}
.neethi{
    color: #4ECB71;
    font-weight: bold;
}
.detail{
    position: absolute;
width: 442px;
height: 54px;
left: 153px;
top: 370px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;

color: #000000;

}
#resume{
    width: 132px;
    height: 42px;
    margin-top: 470px;
    margin-left: 150px;
    font-family: 'Ubuntu';
font-style: normal;
border: none;
font-weight: 700;
font-size: 20px;
line-height: 23px;
background: #015317;
border-radius: 12px;
color: #FFFFFF;
}
.header-img{
    width: 400px;
    height: 400px;
    padding-left: 596px;
    padding-top: 166px;
}
#about{
    position: absolute;
    width: 1440px;
    height: 610px;
    left: -4px;
    top: 811px;
    background: #015317;
}
#about img{
    position: absolute;
    width: 405px;
    height: 405px;
    left: 142px;
    border-radius: 50%;
    top: 111px;
}
.about-me{
    position: absolute;
    width: 689px;
    height: 184px;
    padding-left: 650px;
    padding-top: 154px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    text-align: justify;
    color: #FFFFFF
}
#projects{
    position: absolute;
    width: 100%;
    height: 1088px;
    left: -4px;
    top: 1420px;
    background: #faf9f9;
}
#projects .inner{
    position: absolute;
    width: 1226px;
    height: 678px;
    margin-left: 115px;
    margin-top: 184px;
    background: #015317;
    border-radius: 8px;
}
#projects h1{
    position: absolute;
    padding: 30px 43%;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 55px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
}
.inner-div{
    display: flex;
    position: absolute;
    width: 375px;
    height: 375px;
    padding-left: 21px;
    padding-top: 149px;
}
.inner-div1{
    display: flex;
    position: absolute;
    width: 375px;
    height: 375px;
    padding-left: 426px;
    padding-top: 149px;
}
.inner-div2{
    display: flex;
    position: absolute;
    width: 375px;
    height: 375px;
    padding-left: 831px;
    padding-top: 149px;
}
.inner-div .inner-div1 .inner-div2 img{
    background-color:#015317 ;
}
.more{
    position: absolute;
    width: 124px;
    height: 39px;
    left: 637px;
    top: 956px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    border: none;
    font-size: 20px;
    border-radius: 10%;
    background-color: #015317;
    color: #FFFFFF;
}

.img-name1{
    position: absolute;
    width: 191px;
    height: 61px;
    left: 107px;
    padding-top: 380px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 34px;
    text-align: center;
    display: flex;
    color: white;
}
.img-name2{
    position: absolute;
    width: 280px;
    height: 61px;
    left: 476px;
    padding-top: 380px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 34px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: capitalize;
    color: white;
}
.img-name3{
    position: absolute;
    width: 191px;
    height: 57px;
    left: 931px;
    padding-top: 380px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 34px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: capitalize;
    color: white;
}
#education{
    position: absolute;
    width: 1440px;
    height: 900px;
    left: -4px;
    top: 2510px;
    background: #015317;
}
#education h1{
    position: absolute;
    width: 431px;
    height: 94px;
    left: 475px;
    top: 71px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 55px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}
.line{
    position: absolute;
    width: 1049px;
    height: 0px;
    left: 187px;
    top: 545px;
    /* border-left: 0; */
    border: 6px solid #FFFFFF;
}
.circle1{
    position: absolute;
    width: 76px;
    height: 79px;
    left: -27px;
    top: -39px;
    background: #139E21;
    border-radius: 50%;
    transform: rotate(90deg);
}
.circle2{
    position: absolute;
    width: 76px;
    height: 79px;
    left: 309px;
    top: -39px;
    background: #1F7236;
    border-radius: 50%;
    transform: rotate(90deg);
}
.circle3{
    position: absolute;
    width: 76px;
    height: 79px;
    left: 641px;
    top: -39px;
    background: #5F8B02;
    border-radius: 50%;
    transform: rotate(90deg);
}
.circle4{
    position: absolute;
    width: 76px;
    height: 79px;
    left: 1003px;
    top: -39px;
    background: #3DB489;
    border-radius: 50%;
    transform: rotate(90deg);
}
.mini-line1{
    position: absolute;
    width: 140px;
    height: 0px;
    left: -63px;
    top: -85px;
    border: 6px solid #FFFFFF;
    transform: rotate(-90deg);
}
.mini-line2{
    position: absolute;
    width: 140px;
    height: 0px;
    left: 271px;
    top: 68px;
    border: 6px solid #FFFFFF;
    transform: rotate(-90deg);
}
.mini-line3{
    position: absolute;
    width: 140px;
    height: 0px;
    left: 603px;
    top: -85px;
    border: 6px solid #FFFFFF;
    transform: rotate(-90deg);
}
.mini-line4{
    position: absolute;
    width: 140px;
    height: 0px;
    left: 963px;
    top: 72px;
    border: 6px solid #FFFFFF;
    transform: rotate(-90deg);
}
.edu1{
    position: absolute;
width: 210px;
height: 64px;
left: -83px;
top: -219px;

background: #299617;
border-radius: 19px;
font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 19px;
display: flex;
align-items: center;
text-align: center;
text-transform: capitalize;

color: #FFFFFF;

}
.edu2{
    position: absolute;
width: 228px;
height: 64px;
left: 239px;
top: 151px;

background: #1F7236;
border-radius: 19px;
font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 19px;
display: flex;
align-items: center;
text-align: center;
text-transform: capitalize;

color: #FFFFFF;

}
.edu3{
    position: absolute;
width: 210px;
height: 64px;
left: 583px;
top: -219px;

background: #5F8B02;
border-radius: 19px;
font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 19px;
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;

}
.edu4{
    position: absolute;
width: 210px;
height: 64px;
left: 935px;
top: 154px;

background: #3DB489;
border-radius: 19px;
font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 19px;
display: flex;
align-items: center;
text-align: center;
text-transform: capitalize;

color: #FFFFFF;

}

#skills{
    position: absolute;
    width: 1440px;
    height: 1290px;
    left: -4px;
    top: 3411px;
    background: white;
}

.inner-skill{
    position: absolute;
    width: 1226px;
    height: 903px;
    left: 107px;
    top: 198px;
    
    background: #015317;
    border-radius: 8px;   
}

#skills h1{
    position: absolute;
width: 659px;
padding-left: 527px;
top: 58px;
font-family: 'Ubuntu';
font-style: normal;
font-weight: 500;
font-size: 48px;
line-height: 55px;
display: flex;
align-items: center;
text-align: center;
color: #000000;
}
.top{
      width: 1226px;
      height: 505px;
      background: #015317;
      border-radius: 8px;
}
.top-img1{
    position: absolute;
    width: 375px;
    height: 375px;
    padding-left: 30px;
    padding-top: 65px;
    display: flex;
}
.img1-text{
    position: absolute;
    width: 128px;
    height: 80px;
    padding-left: 113px;
    padding-top: 340px;
text-align: center;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 34px;
    color: #FFFFFF;
}
.img2-text{
    position: absolute;
    width: 158px;
    height: 80px;
    padding-left: 113px;
    padding-top: 340px;
text-align: center;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 34px;
    color: #FFFFFF;
}
.img3-text{
    position: absolute;
    width: 158px;
    height: 80px;
    padding-left: 113px;
    padding-top: 340px;
text-align: center;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 34px;
    color: #FFFFFF;
}

.top-img2{
    position: absolute;
    width: 375px;
    height: 375px;
    padding-left: 424px;
    padding-top: 65px;
    display: flex;
}
.top-img3{
    position: absolute;
    width: 375px;
    height: 375px;
    padding-left: 820px;
    padding-top: 65px;
    display: flex;
}
.bottom img{
    width: 1117px;
    height: 300px;
    padding-top: 30px;
    padding-left: 45px;
}
#footer{
    position: absolute;
    width: 1440px;
    height: 270px;
    left: -4px;
    top: 4700px;
    background: #015317;
}
.section-footer1{
    position: absolute;
    width: 480px;
    display: flex;
    height: 270px;
    background: #015317;
}
.section-footer1 img{
    margin-left: 110px;
}
.section-footer2{
    position: absolute;
    width: 480px;
    display: table;
    margin-left: 480px;
    height: 270px;
    background: #015317;
}
.section-footer3{
    position: absolute;
    width: 480px;
    margin-left: 960px;
    height: 270px;
    background: #015317;
}
.quicklink-heading {
    padding-top: 20px;
    padding-left: 150px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.icon-name{
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    padding-left: 200px;
    color: #FFFFFF;
}
    
.mini-icon{
    position: absolute;
    width: 25px;
    height: 23px;    
    padding-left: 150px;
}
.contact-heading{
    padding-top: 5px;
    padding-left: 103px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
    color: #FFFFFF; 
}
.contact-icon{
    position: absolute;
    width: 35px;
    height: 35px;
    padding-top: 9px;
    padding-left: 97px;
}
.cicon-name{
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 60px;
    padding-left: 144px;
    color: #FFFFFF;
}